---
import Layout from '../layouts/BlogPost.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Z3ro's Personal Information"
	pubDate={new Date('June 08 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		I am a coder at COMMANDOSS, exploring blockchain technology with a focus on SUI
		to advance decentralized systems.
	</p>
</Layout>
